<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-RyPo.ttf</string>
		<string>SourceSansProBlack-B512.ttf</string>
		<string>SourceSansProBlackItalic-BLm2.ttf</string>
		<string>SourceSansProBold-YJea.ttf</string>
		<string>SourceSansProBoldItalic-rmip.ttf</string>
		<string>SourceSansProItalic-MJvw.ttf</string>
		<string>SourceSansProLight-KGKA.ttf</string>
		<string>SourceSansProLightItalic-2LMI.ttf</string>
		<string>SourceSansProSEmiBold-vaB7.ttf</string>
		<string>SourceSansProSemiboldItalic-wPBB.ttf</string>
	</array>
</dict>
</plist>
